@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~admin-lte/dist/css/adminlte.css';
@import '~admin-lte/plugins/daterangepicker/daterangepicker.css';
@import '@sweetalert2/theme-bootstrap-4/bootstrap-4.scss';

.form-control {
    height: auto;
}
body, html, #app, .app {
    padding: 0;
    margin: 0;
    background-color: #e6e6e6;
    font-color: #555555;
    font-size: 13px;
}

div.encabezado_tabla{
    font-weight: bold;
    text-align: left;
}

.pull-right {
    float: right !important;
}

thead th, td.acciones {
    text-align: center;
    background-color: #f2f4f5;
}

.th_index_corto, th.index_corto
{
    width: 30px;
    max-width: 30px;
    min-width: 30px;
    text-align: center;
}

@import '~sweetalert2/src/variables';

$swal2-background: #990000;

@import '~sweetalert2/src/sweetalert2';
